[submodule "bbb-webrtc-sfu"]
	path = mod/webrtc-sfu/bbb-webrtc-sfu
	url = https://github.com/bigbluebutton/bbb-webrtc-sfu.git
[submodule "mod/etherpad/bbb-etherpad-skin"]
	path = mod/etherpad/bbb-etherpad-skin
	url = https://github.com/alangecker/bbb-etherpad-skin
[submodule "mod/etherpad/bbb-etherpad-plugin"]
	path = mod/etherpad/bbb-etherpad-plugin
	url = https://github.com/alangecker/bbb-etherpad-plugin
[submodule "mod/bbb-pads/bbb-pads"]
	path = mod/bbb-pads/bbb-pads
	url = https://github.com/bigbluebutton/bbb-pads
[submodule "mod/webhooks/bbb-webhooks"]
	path = mod/webhooks/bbb-webhooks
	url = https://github.com/bigbluebutton/bbb-webhooks
[submodule "mod/nginx/bbb-playback"]
	path = mod/nginx/bbb-playback
	url = https://github.com/bigbluebutton/bbb-playback
