[submodule "bbb-webrtc-sfu"]
	path = bbb-webrtc-sfu
	url = https://github.com/bigbluebutton/bbb-webrtc-sfu.git
[submodule "mod/etherpad/bbb-etherpad-skin"]
	path = mod/etherpad/bbb-etherpad-skin
	url = https://github.com/alangecker/bbb-etherpad-skin
[submodule "mod/etherpad/bbb-etherpad-plugin"]
	path = mod/etherpad/bbb-etherpad-plugin
	url = https://github.com/alangecker/bbb-etherpad-plugin
