location @html5client {
  proxy_pass http://poolhtml5servers; # use for production
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "Upgrade";
}

location /html5client/locales {
  alias /html5-static/app/locales;
}

location /html5client/compatibility {
  gzip_static on;
  alias /html5-static/app/compatibility;
}

location /html5client/resources {
  alias /html5-static/app/resources;
}

location /html5client/svgs {
  alias /html5-static/app/svgs;
}

location /html5client/fonts {
  alias /html5-static/app/fonts;
}

location /html5client/files {
  alias /html5-static/app/files;
}

location /html5client/wasm {
  types {
    application/wasm wasm;
  }
  gzip_static on;
  alias /html5-static/app/wasm;
}

location /html5client {
  gzip_static on;
  alias /html5-static;
  try_files $uri @html5client;
}

location /html5client/sockjs {
  try_files $uri @html5client;
}