### Keycloak:

location /keycloak {
    proxy_pass         http://keycloak:5151;
    proxy_set_header   Host $host;
    proxy_set_header   X-Forwarded-Host  $http_host;
    proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto $scheme;
    proxy_set_header   X-Forwarded-Ssl   on;
    proxy_set_header   Upgrade           $http_upgrade;
    proxy_set_header   Connection        "Upgrade";
    proxy_http_version 1.1;

    proxy_headers_hash_max_size    512;
    proxy_headers_hash_bucket_size 128;

    proxy_buffer_size 128k;
    proxy_buffers     4 256k;
    proxy_busy_buffers_size 256k;

}