location ~ /learning-analytics-dashboard/([0-9a-f]+-[0-9]+)/(.*) {
    root /var/bigbluebutton/learning-analytics-dashboard/;
    autoindex off;
}

location /learning-analytics-dashboard/ {
    alias /www/learning-analytics-dashboard/;
    autoindex off;
}
