location ~ /learning-analytics-dashboard/([0-9a-f]+-[0-9]+)/(.*) {
    alias /var/bigbluebutton/learning-dashboard/$1/$2;
    autoindex off;
}

location /learning-analytics-dashboard/ {
    alias /www/learning-analytics-dashboard/;
    autoindex off;
}
